fastapi==0.115.2
uvicorn[standard]==0.30.6
python-dotenv==1.0.1
pydantic==2.9.2
pydantic-settings==2.5.2
SQLAlchemy==2.0.36
requests==2.32.3
PyJWT

# LangChain + Azure OpenAI
langchain==0.3.7
langchain-openai==0.2.4
langchain-community
faiss-cpu==1.12.0


# Testing & Linting
pytest==8.3.3
httpx==0.27.2
ruff==0.6.9